# Исключить директории контроля версий
.git
.gitignore
.svn

# Исключить директории с кэшем и временными файлами
node_modules
npm-debug.log
.dockerignore
.DS_Store
**/build
**/Dockerfile
**/.DS_Store
**/__pycache__
**/*.pyc
**/.classpath
**/.project
**/.github
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm

# Исключить логи и базы данных
*.log
*.sql
*.sqlite

# Исключить документацию и другие файлы
*.md
*.pdf
