root = true

[**]
end_of_line = lf
insert_final_newline = true

[**.{c,cc,cpp,h,hpp,cu,cuh}]
end_of_line = crlf
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[{**CMakeLists.txt,cmake/*.cmake}]
indent_size = 2
indent_style = space
trim_trailing_whitespace = true

[external/**]
end_of_line = ignore
indent_style = ignore
trim_trailing_whitespace = ignore
insert_final_newline = ignore

